body {
  background-color: rgb(230,230,230);
 color: rgb(30,30,30); 
  font-family: courier;
}

 h1 {
	color: red;
	font-family: helvetica;
	font-weight: 800;
	letter-spacing: 5px;
	font-size: 60px;
}
 h2 {
 	color: lightgreen;
 	font-weight: 500;
 	letter-spacing: 3px;
 	font-size: 40PX;

 }

